@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  width: 100%;
}

body {
  margin: 0;
}

.navbar {
    border: none;
    border-radius: 10px;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* height: 700px; */
}


.h2 {
  display: block;
  font-size: 5em;
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}

.h3 {
  text-align: left;
  font-size: 1.5em;
}


.question-title {
    display: flex;
    justify-content: left;
}

.cursor-pointer {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.card-height {
  min-height: 55vh;
}

.option {
  font-size: 2em;
  font-weight: bold;

}

.asleep {
    font-size: 100px;
    color: red;
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}



.pagination-container {
  margin-top: auto;
  width: 100%;
  position: fixed;
  bottom: 30px;
  left: 45%;
  padding: 10px 0;
  flex-direction: column;
}

.para-text {
  font-size: 24px;
  font-weight: bold;
}

.see-my-face-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.cam {

    /*z-index: -1;*/
}

.btn {
    transition: 0.2s;
}