@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    border: solid;
    border-radius: 10px;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}


.h2 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: left;
}

.h3 {
  text-align: left;
}

.question-title {
    display: flex;
    justify-content: left;
}

.cursor-pointer {
    display: flex;
    justify-content: left;
    gap: 20px;
}

.asleep {
    font-size: 100px;
    color: red;
}