@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    border: solid;
    border-radius: 10px;
}

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 700px;

}

.question-title {
    display: flex;
    justify-content: left;
}

.cursor-pointer {
    display: flex;
    justify-content: left;
}